@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
/*------------------------------Toute la page----------------------------------*/

html {
    font-family: 'Raleway', sans-serif;
}
body {
    margin: 0;
    width:100%;
}
h1 {
    margin-bottom: 0;
}
h2,h1 {
    font-weight: bolder;
    font-size: x-large;
}
h3 {
    margin: 5px;
    font-size: medium;
}
ul {
    list-style-type: none;
    text-decoration: none;
    padding-left: 0px;
}
p {
    margin: 5px;
}

/*-------------------------------HEADER--------------------------------------*/

header {
    display: flex;
    position: fixed;
    background: white;
    padding-left: 50px;
    padding-right: 200px;
    width: 90%;
}
.logo {
    padding-top: 50px;
}
.subscribe {
    display: flex;
    align-self: center;
    padding-left: 30px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
}
nav ul {
    display: flex;
    padding-left: 10px;
}
/* --------------------------------SEARCH&FILTER------------------------------*/
.content_r-f {
    padding-top: 120px;
    margin-right: 50px;
    margin-left: 50px;
}
.content_research p {
    margin-top: 15px;
    margin-bottom: 25px;
}
.searchbar {
    display: flex;
    align-items: center;
    border-radius: 15px;
    width: min-content;
    padding: -5px;
    font-weight: bolder;
}
form {
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
}
#button_research {
    display: flex;
    padding: 19px;
    background-color: #0065FC;
    border: none;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    color: white;
    font-weight: bolder;
    font-size: medium;
    cursor: pointer;
}
#lieu {
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    font-size: medium;
    border: #F2F2F2 solid 1px;
    padding: 18px;
}
#lieu:focus {
    border: none;
}
.content_filter {
    display: flex;
    flex-direction: column;
}
.filtres {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    font-weight: bolder;
    margin-right: 20px;
}
.filtres ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-between;
    width: 100%;
    margin-left: 20px;
}
.filtres ul li {
    display: flex;
    align-items: center;
    border: #F2F2F2 solid 3px;
    border-radius: 35px;
    padding: 0px;
    margin-right: 1%;
    margin-bottom: 1%;
}
.filtres ul li p {
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 10px;
}
.filtres ul li:hover {
    background-color: #0065FC;
    color: white;
}
.nb-resultat {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
/* ---------------------------------ICON-------------------------------------- */
.fa-search{
    display: none !important;
    align-self: center;
    color: white;
    padding: 19px;
    padding-top:20px;
    background-color:#0065FC;
    border-radius: 12px;
}
.fa-chart-line{
    padding-left: 150px;
}
.fa-child {
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 50px;
    padding: 15px;
    padding-right: 16px;
    padding-left: 16px;
    margin-left: -1px;
}
.fa-heart {
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 50px;
    padding: 15px;
    margin-left: -1px;
}
.fa-dog {
    color: #0065fc;
    background-color: #DEEBFF;
    border-radius: 50px;
    padding: 15px;
    margin-left: 0px;
    margin-left: -1px;
}
.fa-map-marker-alt {
    padding: 19px;
    background-color: #F2F2F2;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    font-size: medium;
    margin-right: -4px;
}
.fa-money-bill-wave {
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 50px;
    padding: 15px;
    margin-left: -1px;
}
.fa-info {
    display: inline;
    color: #0065fc;
    margin-right: 12px;
    width: 10px;
    height: 10px;
    border: #F2F2F2 solid 1px;
    border-radius: 50%;
    text-align: center;
    line-height: 10px;
    vertical-align: middle;
    padding: 12px;
}
.fa-star.good {
    color: #0065fc;
}
.fa-star.bad {
    color: #F2F2F2;
}
/*--------------------------------SECTION---------------------------------*/
section {
    display: flex;
    flex-direction: row;
    margin-right: 50px;
    margin-left: 50px;
}
/*----------------------------CONTENT HEBERGEMENT--------------------------*/
#content_hebergement {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 16px;
    width: 70%;
}
#content_hebergement h2 {
    padding-left: 40px;
    padding-top: 20px;
    width: 50%;
}
/*---------------------------------BOX-HEBERGEMENT---------------------------*/
.content_box_hebergement {
    display: flex;
    flex-wrap: wrap;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: space-between;
    align-items: baseline;
    width: 93%;
}
.box_hebergement {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: white solid 5px;
    border-radius: 30px;
    margin-bottom: 30px;
    width: 30%;
    box-shadow: 3px 3px 20px 1px rgba(0, 0, 0, 0.096);
}
.description_hebergement {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: white;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-top: 165px;
    padding-left: 15px;
    margin-left: -5px;
}
.rating {
    margin: 5px;
}
/*--------------------------IMAGES-HEBERGEMENT -----------------------------*/
#image-cannebiere,#image-port,#image-mouette,#image-mer,#image-panier,#image-amina{
    display: block;
    text-decoration: none;
    text-transform: none;
    color: black;
    background-color: white;
    background-repeat: no-repeat;
    border-radius: 30px;
    height: 250px;
}
#image-cannebiere {
    background-image: url("../images/hebergements/4_small/cannebiere.jpg");
    background-size: contain;
}
#image-port {
    background-image: url("../images/hebergements/4_small/port.jpg");
    background-size: cover;
    background-position-y: -40px;
}
#image-mouette {
    background-image: url("../images/hebergements/4_small/mouette.jpg");
    background-size: cover;
    background-position-y: -50px;
}
#image-mer {
    background-image: url("../images/hebergements/4_small/mer.jpg");
    background-size: cover;
    background-position-y: -100px;
}
#image-panier {
    background-image: url("../images/hebergements/2_large/panier.jpg");
    background-size: contain;
}
#image-amina {
    background-image: url("../images/hebergements/4_small/amina.jpg");
    background-color: white;
    background-size: cover;
    background-position-y: -190px;
}
/*------------------------------ASIDE----------------------------------------*/
aside {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    padding-right: 00px;
    border-radius: 16px;
    margin-left: auto;
    width: 28%;
}
aside h2 {
    padding-left: 40px;
    padding-top: 20px;
}
.content_box_popular {
    display: flex;
    flex-flow: wrap;
    align-content: space-around;
    justify-content: center;
    height: 760px;
    margin-top: -17px;
}
.box_popular {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: white solid 5px;
    border-radius: 30px;
    width: 80%;
    height: 210px;
    box-shadow: 3px 3px 20px 1px rgba(0, 0, 0, 0.096);
}
.description_popular {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: white;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-left: 110%;
    margin-top: 10%;
    height: 150px;
    width: 100%;
}
.rating-popular {
    margin-top: 30%;
}
/* ---------------------------IMAGES-ASIDE-----------------------------------*/
#image-matin,#image-eau,#image-bleublanc{
    display: block;
    text-decoration: none;
    text-transform: none;
    color: black;
    background-color: white;
    background-repeat: no-repeat;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    height: 210px;
    width: 40%;
}
#image-matin {
    background-image: url("../images/hebergements/4_small/matin.jpg");
    background-size: cover;
    background-position-x: -90px;
}
#image-eau {
    background-image: url("../images/hebergements/4_small/eau.jpg");
    background-size: cover;
    background-position-x: center;
}
#image-bleublanc {
    background-image: url("../images/hebergements/4_small/bleublanc.jpg");
    background-size: cover;
}
/*---------------------------------ACTIVITES-----------------------------------*/
#content_activites {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    width: 97%;
    margin-right: auto;
    margin-left: auto;
}
.content_box_activite {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
    width: 98%;
}
.flex_little {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
}
.box_activite {
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    margin-bottom: 30px;
    width: 22.7%;
}
.box_activite_little{
    display: flex;
    border-radius: 30px;
    margin-bottom: 30px;
    width: 100%;
}
.description_activite_long,.description_activite_medium,.description_activite_short{
    display: flex;
    flex-direction: column;
    background-color: white;
    border: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px 20px 10px 5px;
    box-shadow: 3px 3px 20px 1px rgba(0, 0, 0, 0.096);
}
.description_activite_long {
    margin-top: 400px;
}
.description_activite_medium {
    margin-top: 200px;
}
.description_activite_short {
    margin-top: 120px;
}
/*--------------------------------IMAGES-ACTVITES-----------------------------*/
#image-vport,#image-fort,#image-iles,#image-calanque,#image-garde,#image-parc{
    display: block;
    text-decoration: none;
    text-transform: none;
    color: black;
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 90%;
    box-shadow: 3px 3px 20px 1px rgba(0, 0, 0, 0.096);
}
#image-vport {
    background-image: url("../images/activites/4_small/vport.jpg");
    background-position-x: center;
}
#image-fort {
    background-image: url("../images/activites/4_small/fort.jpg");
    background-position-x: center;
    background-position-y: -200px;
}
#image-iles {
    background-image: url("../images/activites/4_small/iles.jpg");
    background-position-x: center;
    background-position-y: -50px;
}
#image-calanque {
    background-image: url("../images/activites/4_small/calanques.jpg");
    background-position-x: -100px;
}
#image-garde {
    background-image: url("../images/activites/4_small/dame.jpg");
    background-position-x: center;
    background-position-y: -40px;
}
#image-parc {
    background-image: url("../images/activites/4_small/parc.jpg");
    background-position-x: center;
    background-position-y: -30px;
}
/*-------------------------------FOOTER---------------------------------------*/
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #F2F2F2;
    height: 200px;
    padding-left: 50px;
    padding-top: 20px;
    width: 100%;
}
.content_footer {
    margin-right: auto;
}
.content_footer ul li {
    margin-top: 15px;
}
.content_footer ul li:hover{
    color:#0065fc;
}
/* ---------------------------------LIENS -------------------------------------*/
.lien-carte {
    text-decoration: none;
    text-transform: none;
    color: black;
}
.lien-gris {
    text-decoration: none;
    text-transform: none;
    color: black;
    padding-left: 40px;
    padding-bottom: 50px;
    padding-top: 50px;
    font-size: large;
    font-weight: bolder;
}
.lien-gris:hover {
    color: #0065fc;
}
.lien-footer{
    text-decoration: none;
    text-transform: none;
    color: black;
}
.lien-footer:hover{
    color: #0065fc;
}
.lien-nav {
    text-decoration: none;
    color: black;
    padding-left: 40px;
    padding-right: 40px;
}
.lien-nav:hover {
    color: #0065FC;
    border-top: #0065FC solid 2px;
    padding-top: 38px;
}
.lien-subscribe {
    text-decoration: none;
    outline: none;
    font-weight: bolder;
    color: #0065FC;
}
/*-----------------RESPONSIVE-MOBILE----------------------------*/
@media screen and (max-device-width: 480px)
{ 
    html{
        overflow:auto;
    }
    /* ----------HEADER-mobile--------*/
    header{
        display: flex;
        flex-direction: column;
        padding-left: 0px;
        width: 100%;
        
    }
    .logo{
        padding-left: 5%;
        padding-top: 7%;
        width: 100%;
    }
    nav{
        margin-left: 0px;
        width: 100%;
        
    }
    nav ul {
        display: flex;
        width: 100%;
        padding-left: 0px;
        margin: 0px;
    }
    .lien-nav {
        display: block;
        text-decoration: none;
        color: black;
        background-color: white;
        padding-top: 0px;
        border-bottom: #F2F2F2 solid 2px;
        padding-bottom: 20px;
        width: 100%;
    }
    .lien-nav:hover {
        color: #0065FC;
        border-bottom: #0065FC solid 2px;
        border-top: hidden;
        padding-bottom: 20px;
        padding-top: 0px;
    }
    .subscribe{
        position: fixed;
        top: 40px;
        left:58%;
    }
/*---------------RESEARCH-mobile---------------------------*/
    .content_r-f{
        padding-top: 150px;
        margin-left: 15px;
        margin-right: 15px;
    }
    #button_research{
        display: none;
    }
    .fa-search{
        display: flex !important;
    }
    .filtres{
        flex-direction: column;
        justify-content:left;
        align-items: flex-start;
        margin-top: 20px;
    }
    .filtres ul{
        flex-wrap: wrap;
        width: 345px;
        height: 200px;
        margin: 0px;
        margin-top: 5px;
    }
    .nb-resultat p{
        margin-right: -10px;
    }
/*---------------------SECTION-mobile----------------------------------*/
/*aside*/
    section{
        display: flex;
        flex-direction: column-reverse;
        margin: auto;
        background-color: #F2F2F2;
    }
    aside{
        width: 100%;
        margin: auto;
    }
    .fa-chart-line{
    padding-left: 10%;
    }
    .content_box_popular{
    width: 100%;
    flex-direction: column;
    }
    .description_popular{
        width: 50%;
    margin-left: 50%;
    margin-top: 0px;
    padding-bottom: 50px;
    border: white solid 5px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    }
    .description_popular h3{
    margin-top: 20px;
    margin-left: 10px;
    }
    .description_popular p {
    margin-left: 10px;
    
    }
    .rating-popular{
    margin-left: 10px;
    }
    .box_popular{
    flex-direction: row;
    width:90%;
    margin: auto;
    }
    #image-matin,#image-eau,#image-bleublanc{
        width: 100%;
        border-radius: 30px;
    }
    #image-eau{
        background-position-x: -50px;
    }
    #image-bleublanc{
        background-position-y: -150px;
        background-position-x: -150px;
    }
    /* Hebergement */
    #content_hebergement{
    width: 100%;
    background-color: white;
    border-radius: 0px;
    }
    #content_hebergement h2 {
    margin-left: 20px;
    padding-left: 0px;
    }
    .content_box_hebergement{
    width: 100%;
    flex-direction: column;
    padding: 0px;
    margin: auto;
    }
    .box_hebergement{
        width: 90%;
    margin: auto;
    margin-top: 20px;
    }
    .lien-gris{
    padding-top: 20px;
    padding-bottom: 20px;
    }
    /* ------------------------ACTIVITES MOBILE ---------------------*/
    #content_activites{
        height: 2200px;
        
    }
    .box_activite_little{
        margin-bottom: 100px;
    }
    .box_activite , .flex_little{
        margin-bottom: 70px;
        width: 90%;
    }
    .content_box_activite{
    flex-direction: column;
    width: 100%;
    margin: auto;
    }
    .description_activite_long, .description_activite_medium,.description_activite_short{
        margin-top: 250px;
    }
    #image-vport, #image-fort,#image-iles,#image-calanque,#image-garde,#image-parc {
        height: 250px;
        width: 100%;
        box-shadow: 3px 3px 20px 1px rgba(0, 0, 0, 0.096);
    }
    #image-fort{
        background-position-y: -100px;
    }
    #image-iles{
        background-position-y: center;
    }
    #image-calanque{
        background-position-x: 0px;
    }
    #image-garde{
        background-position-y: 0px;
    }
    #image-parc{
        background-position-y: center;
    }
    /*----------------------APROPOS-MOBILE---------------------------------*/
    footer{
        flex-direction: column;
        height: 600px;
        padding-left: 20px;
    }
    .content_footer{
        padding-right: 0px;
        padding-bottom: 20px;
    }

}
/*---------------------------TABLETTE-------------------------------*/
@media screen and (min-width:480px) and (max-width:1024px)
{
    section{
        flex-direction: column-reverse;
    }
    #content_hebergement{
        width: 100%;
    }
    aside{
        width: 100%;
        background-color: white;
    }
    #image-matin{
        background-position-x: -20px;
    }
    #image-bleublanc{
        background-position-y: -150px;
    }
    .content_box_activite{
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
}
